.container {
    width: 80%;
    margin:0 auto;
}

#logo {
    width: 200px;
}

.intestazione {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: 400px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgb(0, 128, 255);
}

.data {
    font-size: 10px;
    margin-top: 1px;
}

.sottotitolo {
    margin-top: 1px;
    margin-bottom: 1px;
}

.titolo {
    font-size: 40px ;
    margin-bottom: 1px;
    margin-top: 7px;
}

.link-the-booleaner {
    text-decoration: none;
    color:rgb(51, 204, 255);
}

.didascalia-foto {
    margin-top: 1px;
    margin-bottom: 1px;
}

.list {
    margin-top: 30px;
    padding-left: 20px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse:collapse;
}

td {
    height: 50px;
}

.last-table-row {
    width: 50%;
}

th {
    background-color: rgb(68, 157, 247);
    color: white;
}

.row1, .row3 {
    background-color: lightblue;
}

.interests {
    color: grey;
    font-size: medium;
}

.last-img1, .last-img2 {
    height: 150px;
    width: 215px;
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.last-img1 {
     background-image: url("../img/monitor.jpg");
}

.last-img2 {
    background-image: url("../img/graph.jpg");
    margin-top: 10px;
}